<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.searchrepo">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required to fetch data from the internet. -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
